@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);


section#counter-stats {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

.stats {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #f5f8f8;
}

.stats .fa {
  color: #f5f8f8;
  font-size: 60px;
}
h4 {
    color: #f5f8f8;
}

.col p { 
    font-size: 18px;
    font-weight: 100;
}
